<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Atención Pregunta{% endblock %}</title>

  <!-- Fuentes y librerías -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- Tu CSS global -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  {% block extra_head %}{% endblock %}
</head>
<body>
  <main class="center-wrapper">
    {% block content %}{% endblock %}
  </main>

</body>
</html>
